<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class=".">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a student in computer engineering school at ESIR in Rennes. I specialize in images.
          I am in double diploma in master's degree at UQAC in Canada.
          I specialize in video games, AI, deeplearning, robotic vision, 
          image processing, techArt, and 3d engineering software.</p>
      </div>
      <div class="col-lg-4">
        <p>I am also freelance in illustration, concept art and comics. I make graphics, poster, comic strip to order ! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="{{ site.baseurl }}/img/portfolio/cv_lukeabougit.pdf" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> CV
        </a>
      </div>
    </div>
  </div>
</section>
